# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/BullozerKurs01_MCU2.dep
/BullozerKurs01_MCU2.ewd
/BullozerKurs01_MCU2.ewp
/BullozerKurs01_MCU2.ewt
/BullozerKurs01_MCU2.eww
