/BullozerKurs01_MCU2.Debug.cspy.bat
/BullozerKurs01_MCU2.Debug.cspy.ps1
/BullozerKurs01_MCU2.Debug.driver.xcl
/BullozerKurs01_MCU2.Debug.general.xcl
/BullozerKurs01_MCU2.crun
/BullozerKurs01_MCU2.dbgdt
/BullozerKurs01_MCU2.dnx
/BullozerKurs01_MCU2.reggroups
/BullozerKurs01_MCU2.wsdt
/BullozerKurs01_MCU2.Release.cspy.bat
/BullozerKurs01_MCU2.Release.cspy.ps1
/BullozerKurs01_MCU2.Release.driver.xcl
/BullozerKurs01_MCU2.Release.general.xcl
